.Inscription{
    border: solid;
    border-color:blue;
    background-color: blue;
    height: 50px;
    width:396px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: white;
    font-family: Arial;
}
.form{
    height: 300px;
    width: 40px;
}
.bouton{
     margin-left: 250px;
     background-color: blue;
     color: white;
     height: 30px;
     width:100px;

}
.space{
    margin-left: 50px;
     
}